li {
  padding: 5px;
  margin: 5px;
  background: #faebd7;
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.form-group {
  margin-bottom: 5px;
}

.navbar {
  color: blue;
}

.hero-body {
  height: 200px;
}


/*
body {
  background-color: #F2F6D0
}

#wrapper {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5%;
}

#articles {
  display: inline-block;
  overflow: auto;
  width: 60%;
  height: 700px;
}

#notes {
  float: right;
  width: 30%;
}

textarea,
input {
  display: block;
  width: 100%;
  background-color: #FCF5C7;
}

input {
  height: 36px;
  font-size: 24px;
}

textarea {
  height: 200px;
  font-size: 18px;
}
*/
